.task {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 20px;
	border: 1px solid #f2f4f7;
	background-color: #ffffff;
	border-radius: 10px;
}

.header_task {
}

.title_task {
	font-size: 14px;
	font-weight: bold;
	color: #1f2633;
}

.tags_task {
	display: flex;
	gap: 8px;
}

.task_tag {
	display: flex;
	align-items: center;
	padding: 4px 8px;
	font-size: 10px;
	font-weight: bold;
	border-radius: 20px;
}

.assignment_user {
	display: flex;
}
.assignment_user > img {
	border-radius: 50%;
	width: 30px;
	height: 30px;
}